.container-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    .container-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
  
      .container-heading {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        h1 {
          color: #ff6060;
          margin: 0;
        }
  
        h2 {
          color: #ff6060;
          margin: 0;
        }
      }
  
      .container-host-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
  
        @media screen and (min-width: 768px) {
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  
    .collapsible-container {
      display: flex;
      flex-direction: column;
      gap: 50px;
  
      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  
  /* Styles pour le composant Collapse */
  .section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
  
    .section-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060; 
      padding: 10px;
      cursor: pointer;
  
      .section-title {
        font-size: 1.125rem;
        font-weight: bold;
        color: white; /* Ajustez la couleur du texte si besoin */
        margin: 0;
      }
  
      .section-icon {
        margin-left: 10px; /* Espacement entre l'icône et le titre */
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease; /* Animation lors de la rotation */
      }
    }
  
    .section-content {
      padding: 10px;
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
    }
  }
  